# Compiled cmds
cmd/coordinator-cli/coordinator-cli
cmd/coordinator/coordinator
cmd/kv-provider/kv-provider
cmd/metrics-provider/metrics-provider
cmd/nvprint/nvprint
cmd/statspusher/statspusher
cmd/systemd-provider/systemd-provider
cmd/zfs-provider/zfs-provider
cmd/zfs/zfs

# Temporary files
*.swp
*~

# Test files
*.test
test.out

# Local files and directories
.vagrant
/vendor/
