# Compiled cmds
cmd/coordinator-cli/coordinator-cli
cmd/coordinator/coordinator
cmd/systemd-provider/systemd-provider
cmd/zfs-provider/zfs-provider

# Temporary files
*.swp
*~

# Local files and directories
.vagrant