# Compiled cmds
cmd/coordinator-cli/coordinator-cli
cmd/coordinator/coordinator
cmd/systemd-provider/systemd-provider
cmd/zfs-provider/zfs-provider
cmd/metrics-provider/metrics-provider
cmd/zfs/zfs
cmd/nvprint/nvprint

# Temporary files
*.swp
*~

# Test files
*.test
test.out

# Local files and directories
.vagrant